DB__NAME=app
DB__USER=app
DB__PASSWORD=change_me
DB__HOST=postgres
DB__PORT=5432

BROKER__USER=user
BROKER__PASSWORD=change_me
BROKER__HOST=rabbitmq
BROKER__PORT=5672

API__KEY=change_me
API__PORT=8000

WEBHOOK__TIMEOUT=10
WEBHOOK__MAX_ATTEMPTS=3
WEBHOOK__INITIAL_DELAY=0.01

OUTBOX__POLL_INTERVAL=1.0
OUTBOX__BATCH_SIZE=100
OUTBOX__SHUTDOWN_TIMEOUT=5

GATEWAY__MIN_DELAY=2.0
GATEWAY__MAX_DELAY=5.0
GATEWAY__SUCCESS_RATE=0.9

CONSUMER__MAX_ATTEMPTS=1
CONSUMER__INITIAL_DELAY=0.01